<%- include('partials/header') -%>
<body>
    <section class="cont">
        <div class="center col alicen bg">
            <h2 class="big">Todo List</h2>
            <form action="/post/createTask" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Task</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
            <h1>Add</h1>
            <h2 id="clearCompleted">Clear Completed</h2>
            <h2 id="clearAll">Clear All</h2>
            <p></p>
        </div>
        
    </section>

    <script src="js/main.js"></script>
</body>
<%- include('partials/footer') -%>